{% extends 'notebook/base.html' %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
		<div class="border-top pt-3">
  <div class="card ">        
          <div class="card-body text-center">

						{% if user.is_authenticated %}
							<h5>Hello {{user.username}},Welcome to NOTEBOOK:The To-Do Web App</h5>
							<h5>Create a new User , Create a new category and start adding Tasks. You can add mutliple categories as well and explore the Web App</h5>
						{% else %}
							<h5>Hello Guest, Welcome to NOTEBOOK:The To-Do Web App</h5>
							<h5>Create a new User , Create a new category and start adding Tasks. You can add mutliple categories as well and explore the Web App</h5>
						<div class="d-flex justify-content-between bd-highlight">
							<div class="p-2 bd-highlight"><button type='button' class="btn btn-success" > <a href="{% url 'register' %}"style="color:White">Register</a></button></div>
							<div class="p-2 bd-highlight"><button type='button' class="btn btn-primary" > <a href="{% url 'social:begin' 'facebook' %}"style="color:White">Login with Facebook</a></button></div>
							<div class="p-2 bd-highlight"><button type='button' class="btn btn-danger" > <a href="{% url 'login' %}"style="color:White">Login </a></button></div>
							
						</div>
						<div class="col">
						{% endif %}
						<br>
						
						
				
				
				
			</div>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}