{% extends 'notebook/base.html' %}
{% load static %}
{% block content %}
<br>
	<div class="row p-3 mb-2 bg-light">
		{% for c in nav %}
			<div class="col">
				<div class="card" style="width: 14rem;">
					<div id ="{{c.id}}" class="card-body text-center">
						<h5 style="color:Blue" class="card-title text-center">{{c}}</h5>
						{% for t in c.tasks_set.all %}
							<p id ="{{t.id}}" value="{{t.id}}" class="item" draggable="true" class=" btn-outline-dark">{{t}}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<script>
		
		const items = document.querySelectorAll('.item')
const cards = document.querySelectorAll('.card-body')

var dragtask
var dragcard

items.forEach(item => {
	item.addEventListener('dragstart', () => {
		item.classList.add('dragging')
		})

	item.addEventListener('dragend',() =>{

		item.classList.remove('dragging')
		address ='/task/'+ dragtask +'/edit/'+ dragcard
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", address, true);
		xhttp.send();
		})
})

cards.forEach(card =>
{
	card.addEventListener('dragover',e =>{
	e.preventDefault()
	const currentdrag = document.querySelector('.dragging')
	card.appendChild(currentdrag)
	dragcard = card.id
	dragtask = currentdrag.id
	console.log("Dragging")
	})
})


	</script>
	{% endblock %}>